/* GENERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nerko One', cursive;
}

body {
    background: #aed8e5;
}

/* HEADER */
header h1 {
    text-align: center;
    line-height: 120px;
    font-size: 80px;
    color: white;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}